# Server
PORT=5943
API_PREFIX=/v6
NETWORK=mainnet

# BCH Full Node RPC
RPC_BASEURL=http://127.0.0.1:8332
RPC_USERNAME=
RPC_PASSWORD=
RPC_TIMEOUT_MS=15000

# Fulcrum Indexer
FULCRUM_API=
FULCRUM_TIMEOUT_MS=15000

# SLP Token Indexer
SLP_INDEXER_API=
SLP_INDEXER_TIMEOUT_MS=15000

# x402 Payment
X402_ENABLED=true
SERVER_BCH_ADDRESS=bitcoincash:qqlrzp23w08434twmvr4fxw672whkjy0py26r63g3d
FACILITATOR_URL=http://localhost:4345/facilitator
X402_PRICE_SAT=200

# Basic Auth
USE_BASIC_AUTH=false
BASIC_AUTH_TOKEN=

# Price
COINEX_API_URL=https://api.coinex.com/v1/market/ticker?market=bchusdt

# PSFFPP Proxy
PSFFPP_PROXY_URL=
